.card{
    border:none;
    border-radius:15px;
}

.card-body h2{
    font-size:40px;
    font-weight:bold;
}

.card:hover{
    transform:translateY(-5px);
    transition:0.3s;
}

.table td{
    vertical-align:middle;
}

.badge{
    font-size:14px;
}

.btn{
    border-radius:8px;
}